.profileCard{

    display: flex;
    justify-content: center;
    padding: 1rem;
}

.gravItems{
    display: flex;
    justify-content: space-between;
}

.cardName{
    font-size: 2rem;
}

.profileCard img {
    border-radius: 80px;
}


@media only screen  /*Desktop*/
and (min-width:1000px )
 {
    .gravItems{
        display: flex;
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-around;
    
    }

}
