.profileCard{

    display: flex;
    justify-content: center;
    padding: 1rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.cardName{
    font-size: 2rem;
}

.profileCard img {
    border-radius: 80px;
}