

button {
  background-color: black;
  color: white;
  border: 2px solid black;
}
.singleItem{
  width: 30%;
  margin: 0.5rem;
}


@media only screen  /*Tablet */
and (min-width:600px )
and (max-width:1000px) {
  .singleItem{
    width: 45%;
  }
}

@media only screen /*Mobile*/
and (max-width:600px) {
  .singleItem{
    width: 90%;
  }
}
